In [1]:
import yfinance as yf
import pandas as pd
from datetime import datetime, timedelta
from pandas_datareader import data as pdr
yf.pdr_override() # <== that's all it takes :-)

sp500_history = pd.read_csv('./sp500_history.csv')
sp500_history['date'] = pd.to_datetime(sp500_history['date']) 
sp500_history = sp500_history[['date', 'value', 'variable']]

start_date = datetime.strptime('2019-1-1', '%Y-%m-%d')
end_date = datetime.strptime('2019-12-31', '%Y-%m-%d')

# greater than the start date and smaller than the end date
mask = (sp500_history['date'] > start_date) & (sp500_history['date'] <= end_date)
sp500_history = sp500_history.loc[mask]

# Sort
sp500_history.sort_values(['date', 'variable'], ascending=[True, True])

C:\Users\Yingchen\Anaconda3\envs\finance\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

          date value        variable
918 2019-01-02   FRC    added_ticker
919 2019-01-02   SCG  removed_ticker
921 2019-01-18   TFX    added_ticker
920 2019-01-18   PCG  removed_ticker
923 2019-02-15   ATO    added_ticker
922 2019-02-15   NFX  removed_ticker
925 2019-02-27   WAB    added_ticker
924 2019-02-27    GT  removed_ticker
926 2019-04-02   DOW    added_ticker
927 2019-04-02   BHF  removed_ticker
929 2019-06-03  CTVA    added_ticker
928 2019-06-03   FLR  removed_ticker
931 2019-06-07   BMS    added_ticker
930 2019-06-07   MAT  removed_ticker
933 2019-07-01  MKTX    added_ticker
932 2019-07-01   LLL  removed_ticker
935 2019-07-15  TMUS    added_ticker
934 2019-07-15   RHT  removed_ticker
936 2019-08-09  LDOS    added_ticker
939 2019-08-09   IEX    added_ticker
937 2019-08-09   APC  removed_ticker
938 2019-08-09    FL  removed_ticker
940 2019-09-23   CDW    added_ticker
941 2019-09-23   TSS  removed_ticker
942 2019-09-26   NVR    added_ticker
943 2019-09-26   JEF  removed_ticker
944 2019-10-03   LVS    added_ticker
945 2019-10-03  NKTR  removed_ticker
947 2019-11-21   NOW    added_ticker
946 2019-11-21  CELG  removed_ticker
949 2019-12-05   WRB    added_ticker
948 2019-12-05  VIAB  removed_ticker
950 2019-12-09  ODFL    added_ticker
951 2019-12-09   STI  removed_ticker
953 2019-12-23   LYV    added_ticker
956 2019-12-23   STE    added_ticker
957 2019-12-23  ZBRA    added_ticker
952 2019-12-23   AMG  removed_ticker
954 2019-12-23   MAC  removed_ticker
955 2019-12-23  TRIP  removed_ticker

In [54]:
columns_to_create = ['date', 'total', 'mean', 'std', 'up', 'count', 'max', 'min', 'sharpe', 'uppct']

# output = pd.DataFrame(columns=columns_to_create)
# output.set_index(['date', 'add/delete'])

output_add = pd.DataFrame(columns=columns_to_create)
output_delete = pd.DataFrame(columns=columns_to_create)
output_add['date'] = pd.to_datetime(output_add['date'])
output_add.set_index('date')
output_delete['date'] = pd.to_datetime(output_delete['date'])
output_delete.set_index('date')

Empty DataFrame
Columns: [total, mean, std, up, count, max, min, sharpe, uppct]
Index: []

In [55]:
output_add['total'] = 0

In [56]:
import numpy as np

days_to_subtract = 5
last_date = sp500_history.iloc[0, sp500_history.columns.get_loc('date')]
last_type = sp500_history.iloc[0, sp500_history.columns.get_loc('variable')]
last_changes = []

# for idx, row in enumerate(sp500_history):
row = sp500_history.iloc[0]

# End date is exclusive, so need to increase by 1
prices = pdr.get_data_yahoo(row['value'], start=row['date'] - timedelta(days=days_to_subtract), end=row['date'] + timedelta(days=1))

# Find the previous trading day
prev_date = row['date'] - timedelta(days=1)
while not prev_date in prices.index:
    prev_date -= timedelta(days=1)
prev_close = prices.loc[prev_date]['Close']

# Find the next opening price
next_date = row['date']
while not next_date in prices.index:
    next_date += timedelta(days=1)
next_open = prices.loc[next_date]['Open']

price_change = next_open - prev_close

total += price_change

if last_date != row['date']:
    if last_type == 'added_ticker':
        last_row = output_add[last_date]
    else:
        last_row = output_delete[last_date]
    
    mean = last_row['total'] / last_row['count']
    std = np.std(last_changes)
    up = len(list(filter(lambda x: (x >= 0), last_changes))) 
    count = len(last_changes)
    max_val = max(last_changes)
    min_val = min(last_changes)
    sharpe = mean / std * np.sqrt(252)
    uppct = up / count
    
    if last_type == 'added_ticker':
        data = {'mean': mean}
        output_add = output_add.append(pd.DataFrame(data, index = [last_date]))

    else:
        data = {'mean': mean}
        output_delete = output_delete.append(pd.DataFrame(data, index = [last_date]))



if row['variable'] == 'added_ticker':
    print('adding')
    data = {'total': total}
    output_add = output_add.append(pd.DataFrame(data, index = [row['date']]))

last_date = row['date']
last_type = row['variable']
last_changes.append(price_change)

    
print(prices.head())
#     sp500_history['']

[*********************100%***********************]  1 of 1 completed
adding
                 Open       High        Low      Close  Adj Close    Volume
Date
2018-12-27  82.820000  83.739998  80.919998  83.669998  82.914818    720800
2018-12-28  87.930000  89.660004  87.510002  87.940002  87.146286   6518400
2018-12-31  86.760002  87.669998  85.169998  86.900002  86.115669  29983500
2019-01-02  86.540001  87.510002  86.150002  87.500000  86.710258   3119500

In [57]:
output_add

           date     total mean  std   up count  max  min sharpe uppct
2019-01-02  NaT -0.360001  NaN  NaN  NaN   NaN  NaN  NaN    NaN   NaN

In [49]:
pd.DataFrame(index = [row['date']])

Empty DataFrame
Columns: []
Index: [2019-01-02 00:00:00]

In [58]:
next_open

86.54000091552734

In [89]:
output.head()

Empty DataFrame
Columns: [date, add/delete, total, mean, std, up, count, max, min, sharpe, uppct, ((2019-01-02 00:00:00, added_ticker), total)]
Index: []

In [63]:
output.index

Index([], dtype='object')

In [70]:
row['date']

Timestamp('2019-01-02 00:00:00')